/* Full Page CSS */

body {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Top of the page */

#topHalf {
    height: 60vh;
    width: 90vw;
}

/* Footer styling */

#footerContainer {
    height: 40vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    height: 30vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footerBottom {
    height: 25vh;
    width: 70vw;
    display: flex;
    margin-top: 15px;
}

/* LEFT CONTAINER */

#leftSide {
    width: 35vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nameEmailWrapper {
    display: flex;
}

#name, #email {
    width: 15vw;
}

#name {
    margin-right: 1vw;
}

#textArea {
    resize: none;
    width: 31.5vw;
}

#button {
    width: 12vw;
    background-color: coral;
    height: 4vh;
    border: none;
}

#buttonImg {
    height: 1vh;
    margin-right: 10px
}

/* RIGHT CONTAINER */

#rightSide {
    width: 35vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
}

#buttonsLeft, #buttonsRight {
    height: 19vh;
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contactButtons {
    display: flex;
    width: 100%;
}